git+https://github.com/AntelopeLCA/antelope@master#egg=antelope_interface
git+https://github.com/AntelopeLCA/core@master#egg=antelope_core
synonym_dict>=0.2.0
xlstools>=0.1.0
python-magic>=0.4.18
requests>=2.25
